select * from department;
select * from employee;
select * from projects;
select * from EmployeesProjects;
select * from benefits;
select * from employeeBenefits;

create type empinsert as table(
	Name varchar(30),
	Gender varchar(10),
	DepartmentID int
)


CREATE PROCEDURE InsertEmployees
    @Employees empinsert READONLY
AS
BEGIN
    INSERT INTO Employee (Name, Gender, DepartmentID)
    SELECT Name, Gender, DepartmentID
    FROM @Employees
END
